:host {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--color-text-background);
  position: relative;

  &:hover {
    color: var(--color-accent);
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
    cursor: pointer;
  }
}

.counter {
  position: absolute;
  display: block;
  top: 12px;
  right: 12px;

  width: 8px;
  background: var(--color-accent);
  border-radius: 100%;
  aspect-ratio: 1/1;
}
