<div
  [style.color]="calculateTestColor(`#${stage().color}`)"
  [style.backgroundColor]="`#${stage().color}`"
  class="pl-1 pr-4 py-2 group rounded-base relative w-sm flex gap-2 select-none items-center shadow-sm"
>
  @if (isEditing()) {
    <stage-form [stage]="stage()" (hideForm)="stopEdit()" />
  } @else {
    @if (stage().index > 0) {
      <svg
        (click)="moveLeft()"
        [style.backgroundColor]="`#${stage().color}`"
        class="size-6 opacity-50 cursor-pointer hover:opacity-100 hidden group-hover:block"
        icon="caret-left"
      />
    } @else {
      <div class="w-6 hidden group-hover:block"></div>
    }

    <svg class="size-6 opacity-50 group-hover:hidden" icon="reorder" />
    <span class="flex-1 block font-bold text-ellipsis text-nowrap overflow-hidden">
      {{ stage().displayName }}</span
    >
    <svg
      (click)="startEdit()"
      (keyup.enter)="startEdit()"
      tabindex="3"
      class="size-4 opacity-50 hover:opacity-100 cursor-pointer"
      icon="edit"
    />
    <svg
      (click)="remove()"
      (keyup.enter)="remove()"
      tabindex="3"
      class="size-4 opacity-50 hover:opacity-100 cursor-pointer"
      icon="trash"
    />

    @if (stage().index < stageCount() - 1) {
      <svg
        (click)="moveRight()"
        [style.backgroundColor]="`#${stage().color}`"
        class="size-6 opacity-50 cursor-pointer hover:opacity-100 hidden group-hover:block"
        icon="caret-right"
      />
    }
  }
</div>
