@if (stages.isPending()) {
  <div class="bg-primary/10 w-sm rounded-base justify-center px-4 py-1 flex items-center">
    Загрузка...
  </div>
}
@if (stages.isSuccess()) {
  <div class="flex gap-2">
    @for (item of sortStages(stages.data()); track item.id) {
      <app-lead-stage
        [isEditing]="editingStageId() === item.id"
        (onStartEdit)="editingStageId.set(item.id)"
        (onStopEdit)="editingStageId.set(null)"
        [stage]="item"
        [stageCount]="stages.data().length"
      />
    }
  </div>

  @if (stages.data().length) {
    <div
      (click)="createNewStage()"
      class="border-dashed border-primary border-2 rounded-base px-4 py-1 flex items-center opacity-50 hover:opacity-100 hover:cursor-pointer"
    >
      <svg class="size-5 text-primary" icon="plus" />
    </div>
  } @else {
    <div
      (click)="createNewStage()"
      class="border-dashed border-primary border-2 rounded-base px-4 py-1 flex items-center justify-center opacity-50 hover:opacity-100 hover:cursor-pointer gap-2 w-sm"
    >
      Пусто. Добавить колонку
      <svg class="size-5 text-primary" icon="plus" />
    </div>
  }
}
