<div class="flex items-center justify-between p-4">
  <h1 class="text-xl font-bold text-text-background">Воронки</h1>
  <button
    (click)="showForm()"
    class="border border-accent text-accent rounded-base px-2 py-1 text-sm flex gap-2 items-center hover:bg-accent/10 hover:cursor-pointer"
  >
    <svg class="size-3" icon="plus" />
    добавить
  </button>
</div>

@if (isEnabled()) {
  <div class="px-4 mb-4">
    <div class="relative">
      <input [formControl]="field" class="crm-input w-full pr-16!" />

      <div
        class="flex gap-2 text-text-background items-center justify-end absolute top-1/2 -translate-y-1/2 right-2"
      >
        @if (createFunnel.isPending() || updateFunnel.isPending()) {
          <app-loader [size]="16" />
        } @else {
          <svg
            (click)="onSave()"
            class="size-5 hover:text-primary hover:cursor-pointer"
            icon="documents"
          />
          <svg
            (click)="hideForm()"
            class="size-5 hover:text-red-500 hover:cursor-pointer"
            icon="x"
          />
        }
      </div>
    </div>

    @if (field.invalid && field.touched) {
      <span class="block mt-2 text-red-500 text-xs">
        @if (field.hasError('required')) {
          Поле обязательно для заполнения
        } @else if (field.hasError('minlength')) {
          Не менее 2 символов
        } @else if (field.hasError('maxlength')) {
          Не более 64 символов
        }
      </span>
    }
  </div>
}

@if (funnelList.isFetching()) {
  @for (item of [].constructor(funnelList.data()?.length ?? 3); track $index) {
    <div
      class="w-full px-4 py-4 items-center grid gap-2 grid-cols-[24px_1fr] not-last:border-b border-text-background/20 hover:cursor-pointer hover:bg-primary/10"
    >
      <svg class="text-text-background size-6 animate-pulse" icon="funnel" />
      <div class="bg-text-background/20 animate-pulse h-6 w-full rounded-full"></div>
    </div>
  }
} @else if (funnelList.isSuccess()) {
  @for (item of funnelList.data(); track item.id) {
    <div
      (click)="goToFunnel(item.id)"
      class="w-full px-4 py-4 items-center grid gap-2 grid-cols-[24px_1fr_56px] not-last:border-b border-text-background/20 hover:cursor-pointer hover:bg-primary/10"
    >
      <svg class="size-6" icon="funnel" />
      <span class="overflow-hidden">{{ item.displayName }}</span>
      <div class="flex gap-2 justify-end">
        <svg (click)="updateForm(item)" class="size-4 hover:text-accent" icon="edit" />
        <svg (click)="deleteSalesFunnel(item.id)" class="size-4 hover:text-red-500" icon="trash" />
      </div>
    </div>
  }
}
