:host {
  width: 100px;
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
}
