/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import './fonts';

body {
  font-family: 'JetBrains Mono', sans-serif;
}

@theme inline {
  --color-background: #e6e6e6;
  --color-foreground: #ffffff;
  --color-primary: #111525;
  --color-accent: #6b4de6;

  --color-text-background: #667085;
  --color-primary-foreground: #e6e6e6;

  --color-border: #ccdbeb;

  --radius-base: calc(0.625rem - 4px);
}

/* CRM Styles */

.crm-input {
  display: block;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-base);
  padding: 10px 12px;
}

.crm-label {
  color: var(--color-text-background);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  row-gap: 8px;
}

.crm-button-primary {
  background-color: var(--color-accent);
  border-radius: var(--radius-base);
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in oklab, var(--color-accent) 90%, transparent);
  }
}

.crm-button-secondary {
  background-color: transparent;
  border-radius: var(--radius-base);
  border: 1px solid var(--color-accent);
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 700;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
  }
}

.crm-link {
  color: var(--color-accent);
  text-decoration: underline;

  &:hover {
    opacity: 0.7;
  }
}

*::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: var(--color-foreground);
}

*::-webkit-scrollbar-thumb {
  background-color: color-mix(in oklab, var(--color-accent) 25%, transparent);
}
