:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crm-input {
  display: block;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-base);
  padding: 10px 12px;
}

.crm-label {
  color: var(--color-text-background);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  row-gap: 8px;
}

.crm-button-primary {
  background-color: var(--color-accent);
  border-radius: var(--radius-base);
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  display: block;
  cursor: pointer;
}

.crm-button-secondary {
  background-color: transparent;
  border-radius: var(--radius-base);
  border: 1px solid var(--color-accent);
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 700;
  display: block;
  cursor: pointer;
}

.crm-link {
  color: var(--color-accent);
  text-decoration: underline;

  &:hover {
    opacity: 0.7;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  fill: var(--color-primary);
  animation: rotate 40s linear infinite;
  transform-origin: 13px 25px;
}
.in-top {
  fill: var(--color-accent);
  animation: rotate 20s linear infinite;
  transform-origin: 13px 25px;
}
.out-bottom {
  fill: var(--color-primary);
  animation: rotate 50s linear infinite;
  transform-origin: 84px 93px;
}
.in-bottom {
  fill: var(--color-accent);
  animation: rotate 30s linear infinite;
  transform-origin: 84px 93px;
}
