<div
  class="w-screen sm:w-auto sm:min-w-md bg-foreground p-8 rounded-base flex flex-col items-center shadow-2xl"
>
  <img class="w-48 mb-4" alt="ShardCRM Logo" src="/assets/imgs/logo.svg" />
  <span class="font-bold text-text-background">Войдите, чтобы продолжить</span>

  <form class="w-full pt-4 space-y-4" (ngSubmit)="onSubmit()" [formGroup]="form">
    <label class="crm-label">
      Электронная почта / Логин
      <input class="crm-input" formControlName="username" type="email" name="username" />

      @let username = form.controls.username;
      @if (username.invalid && (username.touched || username.dirty)) {
        @if (username.hasError('required')) {
          <span class="text-red-500">Поле обязательно к заполнению</span>
        } @else if (username.hasError('maxlength')) {
          <span class="text-red-500">Поле не может содержать более 64 символов</span>
        }
      }
    </label>
    <label class="crm-label">
      Пароль
      <input class="crm-input" formControlName="password" type="password" name="password" />

      @let password = form.controls.password;
      @if (password.invalid && (password.touched || password.dirty)) {
        @if (password.hasError('required')) {
          <span class="text-red-500">Поле обязательно к заполнению</span>
        } @else if (password.hasError('maxlength')) {
          <span class="text-red-500">Поле не может содержать более 32 символов</span>
        }
      }
    </label>
    <div class="flex justify-end">
      <!-- TODO Установить ссылку на страницу восстановления пароля -->
      <a class="crm-link text-sm" href="#">Не помню пароль</a>
    </div>
    @if (errorMessage()) {
      <p class="bg-red-100 border border-red-500 px-4 py-2 text-red-500 text-sm rounded-base">
        {{ errorMessage() }}
      </p>
    }
    <button [disabled]="form.invalid" class="crm-button-primary w-full" type="submit">
      Продолжить
    </button>
    <p class="max-w-sm text-sm text-justify">
      Пользуясь системой, вы даёте
      <!-- TODO Установить ссылку на страницу об использовании персональных данных -->
      <a class="crm-link" href="#">согласие</a>
      на обработку и хранение ваших персональных данных в соответствии с
      <!-- TODO Установить ссылку на страницу политики конфиденциальности -->
      <a class="crm-link" href="#">Политикой конфиденциальности</a>
    </p>
  </form>
</div>
