:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  fill: var(--color-primary);
  animation: rotate 40s linear infinite;
  transform-origin: 13px 25px;
}
.in-top {
  fill: var(--color-accent);
  animation: rotate 20s linear infinite;
  transform-origin: 13px 25px;
}
.out-bottom {
  fill: var(--color-primary);
  animation: rotate 50s linear infinite;
  transform-origin: 84px 93px;
}
.in-bottom {
  fill: var(--color-accent);
  animation: rotate 30s linear infinite;
  transform-origin: 84px 93px;
}
