:host {
  position: relative;
}

.select-corp-wrapper {
  width: 256px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 8px;

  &:hover {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
    user-select: none;
    cursor: pointer;

    .icon {
      color: var(--color-accent);
    }
  }
}

.corp-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.dropdown {
  background-color: white;
  position: absolute;
  border-top: 1px solid color-mix(in oklab, var(--color-text-background) 25%, transparent);
  top: 48px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
