:host {
  width: 256px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 8px;

  &:hover {
    background-color: color-mix(in oklab, var(--color-accent) 10%, transparent);
    user-select: none;
    cursor: pointer;

    .icon {
      color: var(--color-accent);
    }
  }
}

.corp-name {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
